<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasakulab.com</title>
    <link rel="stylesheet" href="/style/main.css">
    <script src="/script/index.js" defer></script>
    <meta name="og:url" content="https://sasakulab.com/" />
    <meta name="og:title" content="Sasakulab.com" />
    <meta name="og:description" content="通信帯域の無駄" />
    <meta name="og:image" content="https://sasakulab.com/assets/ogp.png" />
</head>
<body>
    <h1 style="display: none;">Sasakulab.com</h1>
    <header>
        <div class="concept">
            <span>ぽ前らと、</span><br>
            <span class="happy-internet">最高のインターネット</span><span>を、</span><br>
            <span>探し続けます。</span><br>
        </div>
        <p class="look_down">
            Scroll down to view content.
        </p>
    </header>
    <main>
        <div class="index contents">
            <h2>増えていく記事と変わらない想い</h2>
            <div class="articles-summary">
                <ul>
                    <li>コンテンツ１</li>
                    <li>コンテンツ２</li>
                </ul>
            </div>
            <a href="/articles.html" class="other">▶他の記事を見る</a>
            <h2>聞いている曲</h2>
            <section id="spotify" class="spotifynp">
                <img src="https://spotify-recently-played-readme.vercel.app/api?user=31h2aahayvfrpwtabxycmf7f6i7u" alt="Spotify で聞いている曲を画像表示しています">
            </section>
            <h2>リンク</h2>
            <section id="banners" class="banners">
                <div>
                    <a href="https://ajinori.f5.si/">
                        <picture>
                            <img src="/assets/relative/ajinori.png" alt="味付け海苔の雑記帳" loading="lazy" decoding="async">
                        </picture>
                    </a>
                </div>
                <div>
                    <a href="https://kusaremkn.com/">
                        <picture>
                            <img src="/assets/relative/kusaremkn.webp" alt="KusaReMKN.com" loading="lazy" decoding="async">
                        </picture>
                    </a>
                </div>
                <div>
                    <a href="https://pepepper.net/">
                        <picture>
                            <img src="/assets/relative/pepeppernet.png" alt="pepepper.net" loading="lazy" decoding="async">
                        </picture>
                    </a>
                </div>
                <div>
                    <a href="https://yude.jp/">
                        <picture>
                            <img src="/assets/relative/yudejp.png" alt="yude.jp" loading="lazy" decoding="async">
                        </picture>
                    </a>
                </div>
                <div>
                    <a href="https://yank-nvim.com/">
                        <picture>
                            <img src="/assets/relative/yank-nvim.png" alt="yank-nvim.com" loading="lazy" decoding="async">
                        </picture>
                    </a>
                </div>
                <div>
                    <a href="https://sites.google.com/view/happy-busy/">
                        <picture>
                            <img src="/assets/relative/happy-busy.png" alt="時間ねぇー" loading="lazy" decoding="async">
                        </picture>
                    </a>
                </div>
                <div>
                    <a href="https://sasakulab.com">
                        <picture>
                            <img src="/assets/relative/234x60.png" alt="Sasakulab.com" loading="lazy" decoding="async">
                        </picture>
                    </a>
                </div>
            </section>
            <h2>アクセスカウンタ</h2>
            <img src="https://moe-counter-cf.yude.workers.dev/sasakulab" alt="アクセスカウンタ" style="display: block; margin: auto;" width="300px"/>
        </div>
    </main>
    <footer>
        <small class="copy">(C) 2023-2024 sasakulab.com</small>
    </footer>
</body>
</html>